[bumpversion]
current_version = 1.2.1
commit = True

[bumpversion:file:beamerthemeWHUSpot.sty]
search = v{current_version}
replace = v{new_version}

[bumpversion:file:models/cage.tex]
search = v{current_version}
replace = v{new_version}

[bumpversion:file:models/petal.tex]
search = v{current_version}
replace = v{new_version}

[bumpversion:file:models/building.tex]
search = v{current_version}
replace = v{new_version}
